<%-include("header.ejs")%>
<%-include("nav.ejs")%>
<link rel="stylesheet" href="./stylesheets/about.css">

<div id="about">
    <img src="https://www.lexisnexis.in/images/about_us.jpg" alt="">
    <div id="aboutnav">
        <h2>Home >></h2>
        <h3>About Us <h2>>>  </h2> </h3>
        <h3>Our Company</h3>
    </div>
<div id="w"><h1>Who We Are</h1></div><div id="ww"><div id="part1">
<img src="https://www.lexisnexis.in/images/global-information-and-analytics-company.jpg" alt=""></div>

<div id="part2"><h4>Global Information & Analytics Company </h4><br>
   <p> We are India’s largest online network for legal products and help professionals and businesses make better
    , informed decisions. We own more than 65 billion documents that record from more than 45000 legal, 
    news and business sources. Our comprehensive legal information (books, documents, and resources) 
    size is close to 3 petabytes which is almost 150 times the size of Wikipedia and becomes double almost
     every third year. Our combination of content, analytics, and technology makes 
     us one-of-its-kind service providers in India. From CRPC bare acts to <b>income tax practice books,</b>
      intellectual<b> property rights books,</b> and <b>environmental law books,</b> we have it all.
    
    </P></div></div>

    <div id="w1">
        <div id="part1">
            <h3>Transforming the Way Our Customers Work</h3>
            <p>We focus on delivering state-of-the-art resources combined with the latest <br>
                 tools and technology
                 for better decision-making and developing effective <br> strategies–beneficial for individuals or law firms.
                  Along with access to our  <br>global legal database, we also give our customers the power of using <br>the latest technology–machine learning,
                   natural language processing,<br>
                 visualization, and artificial intelligence.</p>
        </div>
        <div id="part2">
            <img src="https://www.lexisnexis.in/images/transforming-the-way-our-customers-work.jpg" alt="">
        </div>
    </div>


</div>
</div>


<%-include("footer.ejs")%>