<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="./stylesheets/blogs.css">
</head>
<body>
    
<%-include("nav.ejs")%>

<div id="b1"><img src="https://www.lexisnexis.in/blogs/wp-content/themes/twentytwelve/assets/images/Blog_Banner_1920x500.jpg" alt="" height="100%" width="100%">

    <div id="frmnav">
        <h2>Home >></h2>
        <h3>Blogs </h3>
        
    </div>
<div id="b2"><div id="part1"><img src="https://www.lexisnexis.in/blogs/wp-content/uploads/2023/10/BEST-BOOKS-FOR-LAW-STUDENTS-624x406.jpg" alt="" 
    height="260"
    width="400"
    ></div>
<div id="part2">
    <h1>BEST BOOKS FOR LAW STUDENTS</h1>
    <h3>October 10, 2023</h5>
        <p>There are various books that we read and keep back at their places and then there are books that we read and find our home in it. Now, decoding what you have to read can be a tough thing. When it comes to the legal arena, lawyers have to read a lot and law is […]

        </p>
        <button><a href="https://www.lexisnexis.in/blogs/best-books-for-law-students/">READ MORE</a></button> 

</div>
</div><hr>
    <div id="b3">
<div id="part1"><img src="https://www.lexisnexis.in/blogs/wp-content/uploads/2023/10/image_2023_10_04T05_54_15_093Z-624x406.png" alt=""
    height="260"
    width="400"
    ></div>

<div id="part2">
    <h1>Best Books on Criminal Law in India that you Must Have</h1>
    <h3>October 4, 2023</h3>
<p>Criminal law is an essential part of the Indian legal system; there are different kinds of criminal laws in India that underline rules and regulations for ensuring proper enforcement of law and order, protecting individual rights, and ensuring justice. There are a lot of best books on criminal law that talk about different laws like […]

</p>
<button><a href="https://www.lexisnexis.in/blogs/best-books-on-criminal-law/">READ MORE</a></button>

</div>   </div><hr>   
<div id="b4">
<div id="part1"><img src="https://www.lexisnexis.in/blogs/wp-content/uploads/2023/09/lexisblog-624x327.png" alt=""
    height="260"
    width="400"
    
    ></div>
    <div id="part2">
        <h1>Important Things to Know about Divorce Under Hindu Marriage Act, 1955</h1>
        <h3>September 13, 2023</h3>
        <p>Formulated on January 26, 1950, the Constitution of India is the world’s largest constitution and is the supreme law of India. It is like a comprehensive document that helps legal practitioners to understand the fundamental political code, powers, procedures, structure, and duties of government institutions. It also symbolizes our democratic ideals and its commitment to […]

        </p>
        <button><a href="https://www.lexisnexis.in/blogs/best-books-for-indian-constitution/">READ MORE</a></button>



        
    </div>

<hr>

</div>







</body>
</html>



