<%-include("header.ejs")%>
<%-include("nav.ejs")%>
<link rel ="stylesheet" href="./stylesheets/index.css">
<div id="home1"><img src="https://www.lexisnexis.in/images/New_BS_Banner2_v1.jpg" alt=""></div>
<div id="home2">
    <div id="q1"><img src="https://www.lexisnexis.in/images/petabytes-global.png" alt=""> <h2>2.5</h2>
    <h4>Petabytes Global
        Content</h4></div>
    <div id="q1"><img src="https://www.lexisnexis.in/images/billion-documents-records.png" alt=""><h2>139</h2>
    <h4>Billion Documents
        & Records</h4></div>
    <div id="q1"><img src="https://www.lexisnexis.in/images/premium-sources.png" alt=""><h2>3900</h2>
    <h4>Premium  <br>
        Sources</h4></div>
    <div id="q1"><img src="https://www.lexisnexis.in/images/latest-technologists.png" alt=""><h2>1500</h2>
    <h4>Latest  <br>

        Technologists</h4></div>
    <div id="q1"><img src="https://www.lexisnexis.in/images/employees-worldwide.png" alt=""><h2>10500</h2>
    <h4>Employees
        Worldwide</h4></div>
</div>
<div id="k">
    <h2>We believe that when you put information and technology into the right hands,<br>
        you give people the power to shape the world.</h2>
        <p>LexisNexis® is a leading global provider of content-enabled workflow solutions designed specifically for professionals in the legal,
             risk management, corporate,  <br>government, law enforcement, accounting, and academic markets. LexisNexis serves customers 
             in more than 175 countries with 10,000 employees worldwide, is part of <br>RELX Group, 
            a global provider of information and analytics for professional and business customers across industries.</p>
            <button><a href="#">Konw more</a></button>
            <hr>
</div>










<%-include("footer.ejs")%>