<%-include("header.ejs")%>
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="./stylesheets/nav.css">

<div id="nav">
  <img src="https://www.lexisnexis.in/images/logo.png" alt="">
  <button><i class="ri-book-2-fill"></i><a href="/bookstore">BuyBooks</a></button>
</div>
<div id="nav1">
    <a href="/"> Home </a>
    <a href="/about"> About Us </a>
    <a href="/showbook"> Showbook </a>
    <a href="/resource"> Resource center </a>
    <a href="/bookstore"> Book Store </a>
    <a href="/blogs"> Blogs </a>
    <a href="/register"> Register </a>
</div>
<%-include("header.ejs")%>